.browse-main {
  margin-top: -5.625rem;
}

// HEADER STYLES

.browse-header {
  height: 6.25rem;
  background: $primary;
}

// MAIN STYLES

.collection-title {
  color: $not-so-blue;
  font-family: 'Domine', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

.blog-title {
  color: $not-so-black;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  display: block;
  line-height: 125%;
}

.blog-title--padding-bottom {
  padding-bottom: 2.5rem;
}

.main-blog {
  width: 89.33%;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
  @include flex(flex-start, flex-start, column);

  .main-blog__img {
    width: 100%;
    border-radius: 0.5rem;
  }

  .main-blog__title-container {
    gap: 0.75rem;
    @include flex(flex-start, flex-start, column);
  }

  .main-blog__title {
    color: $not-so-black;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    line-height: 100%;
    font-size: 2rem;
    font-weight: 900;
  }
}

.secondary-blogs {
  width: 89.33%;
  gap: 3.25rem;
  margin-bottom: 5.75rem;
  @include flex(flex-start, flex-start, column);

  .secondary-blogs__blog {
    width: 100%;
    gap: 1.563rem;
    @include flex(flex-start, flex-start, column);
  }

  .secondary-blogs__img {
    width: 100%;
    border-radius: 0.5rem;
  }

  .secondary-blogs__title-container {
    gap: 0.75rem;
    @include flex(flex-start, flex-start, column);
  }
}

.tertiary-blogs {
  width: 89.33%;
  margin-bottom: 5rem;
  @include flex(flex-start, flex-start, column);

  .tertiary-blogs__blog {
    width: 100%;
    gap: 1.563rem;
    @include flex(flex-start, flex-start, column);
  }

  .tertiary-blogs__img {
    width: 100%;
    border-radius: 0.5rem;
  }

  .tertiary-blogs__title-container {
    gap: 0.625rem;
    @include flex(flex-start, flex-start, column);
  }
}

.collections {
  width: 100%;
  gap: 5rem;
  @include flex(flex-start, center, column);
}

.collection {
  width: 89.33%;
  padding: 2.5rem 1.25rem 5rem 1.25rem;
  background: #f6f6f6;
  border-radius: 0.5rem;
  gap: 2.5rem;
  @include flex(flex-start, center, column);

  .collection__left-column {
    width: 100%;
    margin-top: 1.5rem;
  }

  .collection__label {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  .collection__title {
    overflow: visible;
    font-family: 'Work Sans', sans-serif;
    color: $not-so-blue;
    font-size: 1.875rem;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .collection__img {
    margin-bottom: 1.625rem;
  }

  .collection__description {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .collection__button {
    width: 100%;
    padding: 1rem 0rem;
    background: $not-so-blue;
    border-radius: 1.75rem;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    @include flex(center, center, row);
  }

  .collection__blogs {
    width: 100%;
    gap: 2.5rem;
    @include flex(flex-start, center, column);
  }

  .collection__blogs-container {
    width: 100%;
    gap: 2.5rem;
    @include flex(flex-start, center, column);
  }

  .collection__blog-link {
    gap: 1.25rem;
    @include flex(flex-start, flex-start, column);
  }

  .collection__blog-img {
    width: 100%;
    border-radius: 0.5rem;
  }

  .collection__blog-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 125%;
    font-weight: 600;
    overflow: visible;
    color: $not-so-black;
    flex: 1;
  }
}

@media (min-width: 768px) {
  .browse-header {
    height: 15rem;
  }

  .main-blog {
    gap: 2.5rem;
    margin-bottom: 7.5rem;

    .main-blog__title-container {
      gap: 0.625rem;
    }

    .main-blog__title {
      font-size: 4rem;
      line-height: 3rem;
    }
  }

  .secondary-blogs {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 4.5rem;
  }

  .tertiary-blogs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }

  .collection {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    gap: 4.5rem;
    padding: 2.5rem;

    .collection__left-column {
      width: 30%;
    }

    .collection__description {
      font-size: 1.25rem;
    }

    .collection__blogs {
      width: 70%;
    }

    .collection__blogs-container {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
    }

    .collection__blog-title {
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 992px) {
  .browse-main {
    margin-top: -21rem;
    margin-bottom: 8.125rem;
  }

  .browse-header {
    height: 24rem;
  }

  .collection {
    width: 85%;

    .collection__title {
      font-size: 3rem;
    }
  }
}
